<div class="aluno">
    <h2>INFORMAÇÕES DO ALUNO</h2>

    <div class="aluno_container">
        <h4 class="name">{{aluno.name}}</h4>
        <p>Idade: {{aluno.age}}</p>
        <p>Série: {{aluno.grade}}</p>
        <p>Nível: {{aluno.level}}</p>
        <p>Email: {{aluno.email}}</p>
    </div>

</div>

<div class="btn_voltar"><a href="/alunos">Voltar</a></div>